<ion-view view-title="Profile">
  <ion-content>
    <div class="list card">
      <div class="item item-image">
          <img width="50%" ng-src="{{settings.picture}}" />
      </div>
      <a class="item item-icon-left">
        <i class="icon ion-person"></i>
        {{settings.name}}
      </a>

    </div>
    <h3>Preferences</h3>
    <ion-list>
    <ion-toggle  ng-model="settings.pregnancy">
        Birth Control  |  Pregnancy
    </ion-toggle>
    </ion-list>

  </ion-content>
</ion-view>
