<ion-view view-title="Add a new log">
  <div class="bar bar-header bar-positive">
    <button class="button button-icon icon ion-chevron-left" ng-show="showBackButton()" ng-click="goBack()"></button>
    <h1 class="title">忘记密码</h1>
  </div>
  <ion-content class="has-header padding">
    <div ng-controller="LogsCtrl" class="container">

    <h2>Make a new log</h2>
    <form ng-submit="addLog()">
      <label class="item item-input">
        <span class="input-label">Temperature</span>
        <input ng-model="temp" placeholder="97.05" type="number" step="0.01">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input ng-model="time" type="date">
      </label>
      <button type="submit" class="button button-positive">Save</button>
    </form>
    <br>

    <h2>Old Logs:</h2>


    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="log in logs |  orderBy:'time':true" type="item-text-wrap">
        <a href="#/tab/logs/{{log.id}}"><h2>{{log.temp}}</h2></a>
        <p>{{log.time}}</p>
        <button type="button" name="button" ng-click="remove(log)">Delete</button>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>
</ion-view>
