<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="container">

    <h2>Make a new log</h2>
      <label class="item item-input">
        <span class="input-label">Temperature</span>
        <input placeholder="97.05" type="number">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input type="date">
      </label>
      <button class="button button-positive">Save</button>
    <br>

    <h2>Old Logs:</h2>


    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="log in logs" type="item-text-wrap" href="#/tab/chats/{{log.id}}">
        <img ng-src="{{log.face}}">
        <h2>{{log.name}}</h2>
        <p>{{log.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button" ng-click="remove(log)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>
</ion-view>
