<ion-view view-title="Signup">
  <ion-content class="padding">
    <div ng-controller="UsersCtrl" class="container">
      <button ng-click="login()" class="button button-royal">
        Sign in with google
      </button>
      <form ng-submit="addUser()">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input ng-model="name" placeholder="Jane Doe" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-model="email" type="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input ng-model="password" type="password">
      </label>
      <button type="submit" class="button button-positive">Save</button>
    </form>
    <br>


  </div>
  </ion-content>
</ion-view>
