<ion-view view-title="Add a new log">
  <ion-content class="padding">
    <div ng-controller="DashCtrl" class="container">

    <h2>Make a new log</h2>
    <form ng-submit="addLog()">
      <label class="item item-input">
        <span class="input-label">Temperature</span>
        <input ng-model="temp" placeholder="97.05" type="number">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input ng-model="time" type="date">
      </label>
      <button type="submit" class="button button-positive">Save</button>
    </form>
    <br>

    <h2>Old Logs:</h2>


    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="log in logs" type="item-text-wrap">
        <a href="#/tab/logs/{{log.id}}"></a><h2>{{log.temp}}</h2>
        <p>{{log.time}}</p>
        <button type="button" name="button" ng-click="remove(log)">Delete</button>
      </ion-item>
    </ion-list>
  </div>
  </ion-content>
</ion-view>
