/* Empty. Add your own CSS if you like */
.google {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


@font-face {
  font-family: 'HelloBeautiful';
  src: url('../lib/ionic/fonts/HelloBeautiful.eot'); /* IE9 Compat Modes */
  src: url('../lib/ionic/fonts/HelloBeautiful.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../lib/ionic/fonts/HelloBeautiful.woff') format('woff'), /* Pretty Modern Browsers */
       url('../lib/ionic/fonts/HelloBeautiful.ttf')  format('truetype'), /* Safari, Android, iOS */
}

h1 {
  font-family: 'HelloBeautiful', inherit;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
